<div class="container">
<div class="titlerequest">
	<h2>Organizations' details</h2>
</div>

<div class="requestdetails">
	<ul>
		<% organizations.forEach((organization) => {%>
		<ul>
			<li><a href="/organizations/<%=organization.id%>">
				<label for="">Name: </label><%=organization.name%> </a></li>
			<li><label for="">Description: </label><%=organization.description%></li>
			<li><label for="">Email: </label><%=organization.contacts.email%></li>
			<li><label for="">Phone: </label><%=organization.contacts.phone%></li>
			<li><label for="">Address: </label><%=organization.address.street%>,
				<%=organization.address.city%>,
				<%=organization.address.zip%>,
				<%=organization.address.country%>
			</li>
			<li><label for="">Category: </label><%=organization.category%></li>
			<li><label for="">Status of the request: </label><%=organization.status%></li>
      </form>
			</li>
			<hr>
		</ul>
		<% }) %>
	</ul>
</div>
</div>
