<h2 class="title">Organization's details</h2>


<div class="requestdetails">
	<ul>
		<% organizations.forEach((organization) => {%>
		<% if (organization.status === "accepted") { %>
		<ul>
			<li><a href="/organizations/<%=organization.id%>">
				Name: <%=organization.name%> </a></li>
			<li>Description: <%=organization.description%></li>
			<li>Email: <%=organization.contacts.email%></li>
			<li>Phone: <%=organization.contacts.phone%></li>
			<li>Address: <%=organization.address.street%>,
				<%=organization.address.city%>,
				<%=organization.address.zip%>,
				<%=organization.address.country%>
			</li>
			<li>Category: <%=organization.category%></li>
			<li>Status of the request: <%=organization.status%></li>
			<hr>
		</ul>
		<% } %>
		<% }) %>
	</ul>
</div>