<div class="titlerequest">
	<h2>Organizations' details</h2>
</div>

<div class="requestdetails">
	<ul>
		<% organizations.forEach((organization) => {%>
		<ul>
			<li><a href="/organizations/<%=organization.id%>">
				Name: <%=organization.name%> </a></li>
			<li>Description: <%=organization.description%></li>
			<li>Email: <%=organization.contacts.email%></li>
			<li>Phone: <%=organization.contacts.phone%></li>
			<li>Address: <%=organization.address.street%>,
				<%=organization.address.city%>,
				<%=organization.address.zip%>,
				<%=organization.address.country%>
			</li>
			<li>Category: <%=organization.category%></li>
			<li>Status of the request: <%=organization.status%></li>
      </form>
			</li>
			<hr>
		</ul>
		<% }) %>
	</ul>
</div>
