<% if ( user.isAdmin) { %>

  <div class="container">
	<h2 class="logintitle"> Hi <%= user.username%> , </h2>






	<h3 class="loginsubtitle"> Please find below your organizations </h3>
  <h4 style="font-style:italic" class="center" > You can either update information or just delete the spots if they don't exist anymore.</h4>

	<div class="requestdetails">
		<ul>
			<% organizations.forEach((organization) => {%>
			<ul>
				<li><a href="/organizations/<%=organization.id%>">
					Name: <%=organization.name%> </a></li>
				<li>Description: <%=organization.description%></li>
				<li>Email: <%=organization.contacts.email%></li>
				<li>Phone: <%=organization.contacts.phone%></li>
				<li>Address: <%=organization.address.street%>,
					<%=organization.address.city%>,
					<%=organization.address.zip%>,
					<%=organization.address.country%>
				</li>
				<li>Category: <%=organization.category%></li>
				<li>Status of the request: <%=organization.status%></li>
			</ul>


		<button><a href="/organizations/<%=organization.id%>/edit">Edit</a></button>

		  <form action="/organizations/<%=organization.id%>/delete" method="POST">
			<button type="submit">Delete</button>
		  </form>
				<hr>
			<% }) %>
		</ul>
	</div>
</div>

	<% } %>
