	<% if ( user.isAdmin) { %>
	<div class="navbar-end">
		<div class="navbar-item">
			<a href="/organizations/admin-requests" class="navbar-item is-info"><p class="subtitle">Please, don't forget to check requests!</p></a>
		</div>
	</div>
	<% } %>
<div class="container">
	<h2 class="title"> Hello, <%= user.username%> </h2>

	<h3 class="subtitle">Your organizations:</h3>

	<div class="requestdetails">
		<ul>
			<% organizations.forEach((organization) => {%>
			<ul>
				<li><a href="/organizations/<%=organization.id%>">
					Name: <%=organization.name%> </a></li>
				<li>Description: <%=organization.description%></li>
				<li>Email: <%=organization.contacts.email%></li>
				<li>Phone: <%=organization.contacts.phone%></li>
				<li>Address: <%=organization.address.street%>,
					<%=organization.address.city%>,
					<%=organization.address.zip%>,
					<%=organization.address.country%>
				</li>
				<li>Category: <%=organization.category%></li>
				<li>Status of the request: <%=organization.status%></li>
			</ul>

			<li>
				<a href="/organizations/<%=organization.id%>/edit" class="button is-success is-normal buttonrequest">Edit</a>

		  	<form action="/organizations/<%=organization.id%>/delete" method="POST">
				<button class="button is-danger buttonrequest" type="submit">Delete</button>
		  	</form>
			</li>
				<hr>
			<% }) %>
		</ul>
	</div>
</div>

	<% } %>
